<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>酷派商城</title>
	<link rel="stylesheet" href="Include/css/index.css">
	<link rel="stylesheet" href="Include/iconfont/iconfont.css">
	<link rel="stylesheet" href="Include/css/allGoods.css">
	<link rel="stylesheet" href="Include/css/goodsDetails.CSS">
	<link rel="stylesheet" href="Include/css/shopping.css">
	<link rel="stylesheet" href="Include/css/order.css">
	<link rel="stylesheet" href="Include/css/payment.css">
	<link rel="stylesheet" href="Include/css/successPay.css">
	<link rel="stylesheet" href="Include/css/myNews.css">
	<link rel="stylesheet" href="Include/css/personalData.css">
	<link rel="stylesheet" href="Include/css/personalEdit.css">
	<link rel="stylesheet" href="Include/css/allorder.css">









	<link rel="icon" href="Include/image/icon.PNG">
</head>
<body>
	<div id ='header'>
		<div class='header_center'>
			<a href='' class='header_center_logo iconfont'>&#xe603;</a>
			<div class='header_center_loginbar'>

			<!-- 登录 -->
		<?php if($_SESSION['user'] == null): ?>
			<!-- <?= var_dump($_SESSION) ?> -->
			
				<span class='header_login iconfont'>&#xe625;
					<div class='header_login_hidden'>
						<a href="index.php?c=login"><p class='header_login_user iconfont'>&#xe643;登入账户</p></a>
						<a href="index.php?c=reg"><p class='header_login_reg iconfont'>&#xe625;注册账户</p></a>
						</div>
				</span>
		<?php else:?>
			<!-- <?= var_dump($_SESSION) ?> -->
			
				<!-- 登录后 -->
				<span class='header_login iconfont'>&#xe625;
					<div class='header_login_hidden'>
					<ul>
						<li><a href="index.php?c=personal"><p class='header_login_user iconfont'>&#xe63e; 个人中心</p></a></li>
						<li><a href=""><p class='header_login_reg iconfont'>&#xe66a; 售后服务</p></a></li>
						<li><a href=""><p class='header_login_user iconfont'>&#xe63c; 我的优惠</p></a></li>
						<li><a href="index.php?c=login&m=signOut"><p class='header_login_reg iconfont'>&#xe638; 退出账户</p></a></li>
					</ul>
					</div>
				</span>
		<?php endif ?>
				<!-- 购物车 -->
				<a href="index.php?c=goods&m=showCar">
					<span class= 'header_shopping_car iconfont'>&#xf0148;
						<div class='header_shopping_car_hidden'>
							<span class='header_shopping_car_logo'>&#xf0148;</span>
							<p class='header_shopping_car_des'>我的购物车</p>
						</div>
					</span>
				</a>

				
					<!-- <span class= 'header_shopping_car '>
					<a href="index.php?c=goods&m=showCar" 
							class=' iconfont' 
							style='font-size:21px !important; color:#999 '>&#xf0148;
					</a>

						<div class='header_shopping_car_hidden'>
							<ul class ='header_shopping_car_hidden_ul'>
								<li class='header_shopping_car_hidden_left'>
									<img src="Include/image/main3.jpg" alt="" width='90px' height='90px' >
								</li>

								<li class='header_shopping_car_hidden_right'>
									<p class='p1'>BH03耳机AAA</p>
									<p  class='p2'>￥58.00</p>
									<p class='p3'>X1</p>
								</li>

								
								<li CLASS='header_shopping_car_hidden_del'>
									<a href="">×</a>
								</li>
							</ul>

							<ul class ='header_shopping_car_hidden_ul'>
								<li class='header_shopping_car_hidden_left'>
									<img src="Include/image/main3.jpg" alt="" width='90px' height='90px' >
								</li>

								<li class='header_shopping_car_hidden_right'>
									<p class='p1'>BH03耳机AAA</p>
									<p  class='p2'>￥58.00</p>
									<p class='p3'>X1</p>
								</li>

								
								<li CLASS='header_shopping_car_hidden_del'>
									<a href="">×</a>
								</li>
							</ul>
						</div>
					</span> -->
			


				<a href=""><span class='header_search iconfont'>&#xe631;</span></a>

			</div>

			<div class='header_center_nav'>
				<ul class='header_center_nav_list'>


				<!-- 	<a href=""><li>以旧换新</li></a>
					<a href=""><li>云服务</li></a>
					<a href=""><li>酷派社区</li></a>
					<a href="index.php?c=goods"><li>全部商品</li></a> -->
				<?php foreach($data as $k=>$v):?>
					<a href="index.php?c=goods&m=allGoods&id=<?= $v['id']?>"><li><?= $v['name']?></li></a>
				<?php endforeach ?>
					<a href="" class='header_center_nav_list_coolstyle'>
						<li>Cool系列
							<div class='header_center_nav_list_cool'>
								<div class="header_center_nav_list_cool_content">
									<ul class='header_center_nav_list_cool_list' >
										<li class='header_center_nav_list_cool_1'>
											<img src="Include/image/header_center_nav_list_cool 1.jpg" alt="">
											<p>Cool S1</p>
										</li>
										<li class='header_center_nav_list_cool_2'>
											<img src="Include/image/header_center_nav_list_cool 2.png" alt="">
											<p>Cool 1C</p>
										</li>
										<li class='header_center_nav_list_cool_3'>
											<img src="Include/image/header_center_nav_list_cool 3.png" alt="">
											<p>Cool1 dual</p>
										</li>
										<li class='header_center_nav_list_cool_4'>
											<img src="Include/image/header_center_nav_list_cool 4.png" alt="">
											<p>酷玩6</p>
										</li>
										
									</ul>
								</div>
							</div>		
						</li>
					</a>
					<a href="index.php" ><li>酷派商城</li></a>
				</ul>
			</div>
		</div>
	</div>
	
