<?php $this->header();?>
	
	<div id='main'>
		<div class='banner' style="background:url('Include/image/banner.jpg')">
			<span class='banner_bottom'>
				<span class="item"></span>
				<span class="item"></span>
				<span class="item"></span>
				<span class="item"></span>
			</span>
				
		</div>
		<div class='banner_small' >

			<ul class='banner_small_list'>
				<li class='banner_small_list_one' style="background:url('Include/image/banner_small_list_1.jpg')0 0/378px"></li>
				<li class='banner_small_list_two' style=" background:url('Include/image/banner_small_list_2.jpg')0 0/378px"></li>
				<li class='banner_small_list_three' style=" background:url('Include/image/banner_small_list_3.jpg')0 0/378px"></li>
			</ul>
		</div>
		<div class='hot_goods'>
			<div class='hot_goods_title'>
				<span class='hot_goods_title_subtitle iconfont'>&#xe62a; 热销手机</span>
				<a href="index.php?c=goods&m=allGoods&id=1"><span class='hot_goods_right'>更多商品 ></span></a>
			</div>

			<div class='hot_goods_container'>
				<ul class='hot_goods_container_list'>
				<?php foreach($data['phone'] as $k=>$v): ?>
					<?php $i++ ;?>
					<?php if($i < 5):?>
						<a href="index.php?c=goods&m=detail&id=<?= $v['id']?>">
							<li class='hot_goods_container_list_one'>
								<img class='hot_goods_container_list_one_img' src='<?= imgUrl($v["icon"])?>';>
								<p class="hot_goods_container_list_title"><?= $v['name']?></p>
								<p class="hot_goods_container_list_interduce"><?= $v['desc']?></p>
								<p class='hot_goods_container_list_price'>￥<?= $v['price']?></p>
							</li>
						</a>
					<?php endif ?>
				<?php endforeach ?>
				
				</ul>
				
			</div>
		</div>

		<div class='star_goods'>
			<div class='star_goods_title'>
				<span class='star_goods_title_subtitle iconfont'>&#xe63d; 精选商品</span>
				<a href="index.php?c=goods&m=allGoods&id=1"><span class='star_goods_right'>更多商品 ></span></a>
			</div>
			<div class='star_goods_container'>
				<ul class='star_goods_container_list'>
					<li class='star_goods_container_list_1' style="background: url('Include/image/star_goods_container_list_1.jpg') 0 0/570px"></li>
					<?php foreach($data['all'] as $k=>$v): ?>
						<?php $j++ ;?>
						<?php if($j < 11):?>
						<a href="index.php?c=goods&m=detail&id=<?= $v['id']?>">
							<li class='star_goods_container_list_2'>
								<img class='star_goods_container_list_2_img' src='<?= imgUrl($v["icon"])?>';>
								<p class="star_goods_container_list_title"><?= $v['name']?></p>
								<p class="star_goods_container_list_interduce"><?= $v['desc']?></p>
								<p class='star_goods_container_list_price'>￥<?= $v['price']?></p>
							</li>
						</a>
						<?php endif ?>
					<?php endforeach ?>
					
				</ul>
			</div>

		</div>

		<div class='video'>
			<div class='video_title '>
				<span class='video_title_subtitle iconfont'>&#xe606; 视频</span>
			</div>
			<div class='video_banner'>
				<ul class='video_banner_list' >
					<a href="">
						<li class='video_banner_list1'>
							<img src="Include/image/video1.jpg" class='video_banner_list1_img'>
							<p class='video_banner_list_title'>不在等待，成为改变者</p>
							<p class='video_banner_list_subtitle'>Cool Changer S1 改变从现在开始</p>
						</li>
					</a>
					<a href="">	
						<li class='video_banner_list4'>
							<img src="Include/image/video2.jpg" class='video_banner_list1_img'>
							<p class='video_banner_list_title'>开启全新改变之路</p>
							<p class='video_banner_list_subtitle'>享听音乐，畅玩游戏</p>
						</li>
					</a>
					<a href="">
						<li class='video_banner_list3'>
							<img src="Include/image/video3.jpg" class='video_banner_list1_img'>
							<p class='video_banner_list_title'>认真打造产品 提高用户体验</p>
							<p class='video_banner_list_subtitle'>CEO刘江峰明确公司战略方法</p>
						</li>
					</a>
					<a href="">
						<li class='video_banner_list2'>
							<img src="Include/image/video4.jpg" class='video_banner_list1_img'>
							<p class='video_banner_list_title'>酷派改变者S1上手测评</p>
							<p class='video_banner_list_subtitle'>分析[游戏]和[音乐]的差异化亮点</p>
						</li>
					</a>
				</ul>
			</div>
			
		</div>

	</div>
<?php $this->footer(); ?>