<?php $this->header(); ?>

	<div id='allgoods_main'>
			<div class='allgoods_main_title'>
				<div class='allgoods_main_title_left'>
				
				</div>
				<div class='allgoods_main_title_right'>
					<ul class='allgoods_main_title_right_option'>
						<a href="" ><li>价格从高到低</li></a>
						<li><span>&middot;</span></li>
						<a href="" ><li>价格由低到高</li></a>
						<li><span>&middot;</span></li>
						<a href="" ><li>最新</li></a>
						<li><span>&middot;</span></li>
						<a href=""><li>综合排序</li></a>
					</ul>
				</div>
			</div>
			<div class='allgoods_main_goods'>

				<ul class='allgoods_main_goods_list'>
					<?php foreach($data as $k=>$v): ?>
					<li class='allgoods_main_goods_list_one' style='margin-left: 6px;'>
						<a href="index.php?c=goods&m=detail&id=<?= $v['id']?>">
							<img src="<?= imgUrl($v['icon']) ?>" alt="">
						</a>
						<a href="index.php?c=goods&m=detail&id=<?= $v['id']?>"><p class='allgoods_main_goods_list_name'><?= $v['name']?></p></a>
						<p class='allgoods_main_goods_list_des'> <?= $v['desc']?></p>
						<p class='allgoods_main_goods_list_price'>￥<?= $v['price']?></p>
					</li>
					<?php endforeach ?>
			
				</ul>
			
			</div>		
			<!-- <div class='allgoods_main_bottom'>
				<ul >
					<a href=""><li class='allgoods_main_bottom_1'>1</li></a>
					<a href=""><li class='allgoods_main_bottom_2'>2</li></a>
					<a href=""><li class='allgoods_main_bottom_3'>3</li></a>
				</ul>
			</div> -->
	</div>

<?php $this->footer(); ?>
