<?php $this->header(); ?>

	<div id = 'detalis_main'>
		<div class= 'main_product'>
			<div class='main_product_img'>
				<img src="<?=imgUrl($img[0]['icon']) ?>" alt="" 	width='530px' height='530px'>
			</div>
			<div class='main-product_info'>

				<div class='main_product_info_title'><?= $goods['name'] ?></div>
				<div class='main_product_info_price'>￥<?= $goods['price']?></div>
				<p class='main_product_info_deliver'><?= $goods['desc']?></p>
				<p class='main_product_info_color'>我们的销售</p>
				<ul class='main_product_info_ul'>
					<li>库存：<?= $goods['stock']?>&nbsp;&nbsp;件</li>
					<li>已售：<?= $goods['sold']?>&nbsp;&nbsp;件</li>
				</ul>
				<div class='main_product_info_check'>您选择了以下产品</div>
				<p class='main_product_info_chechpro'><?= $goods['name'] ?></p>
				<div>
					<span class='pay_price'>应付金额（不含运费）:</span>
					<span class='check_price'>￥<?= $goods['price'] ?></span>
				</div>
				<a href="index.php?c=goods&m=shopCar&id=<?= $goods['id']?>">
					<button class="add-to-cart-button buttonClick_ab" id="addToCartButton">加入购物车</button>
				</a>
				
				<a href="index.php?c=goods&m=shopCar&id=<?= $goods['id']?>">
				<button class="buy-now-button J-buyNowButton" id="buyNowButton">立即购买</button>
				</a>
				
			</div>

			<div class='main_product_img_delatils'>
					<ul>
					<?php foreach($img as $k=>$v):?>
						<?php $i++ ?>
						<?php if($i<=5): ?>
							<li><img src="<?= imgUrl($v['icon'])?>" alt="" width='98px' height='98px'></li>
						<?php endif ?>

					<?php endforeach ?>
						<!-- <li><img src="Include/image/90x90.jpg" alt=""></li>
						<li><img src="Include/image/90x90.jpg" alt=""></li>
						<li><img src="Include/image/90x90.jpg" alt=""></li>
						<li><img src="Include/image/90x90.jpg" alt=""></li> -->
						
					</ul>
			</div>
		</div>
	</div>
	<div id='main_details'>
		<div class='main_details_title'>
			<ul>
				<a href=""><li>产品详情</li></a>
				<a href=""><li>参数规格</li></a>
				<a href=""><li>包装清单</li></a>
				<a href=""><li>评价</li></a>
				<a href=""><li>售后服务</li></a>
			</ul>
		</div>
		<!-- <div class='main_details_banner1'>
				<img src="./70 (1).jpg" alt="">
				<img src="./70.jpg" alt="">
				<img src="./banner3.jpg" alt="">
				<img src="./banner4.jpg" alt="">

		</div> -->
	</div>

<?php $this->footer(); ?>
