<?php $this->header() ?>
	<div id = 'content'>
		<?php $this->comment() ?>
			
		<div class='content_right'>


       <!--main_top-->
	        <table width="80%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
	          <tr>
	            <td width="99%" align="left" valign="top" class='personal_data'>您的位置：个人中心&nbsp;&nbsp;>&nbsp;&nbsp;修改密码</td>
	          </tr>
	         
	          <tr>
	            <td align="left" valign="top">

	            <!-- 打通与userModle的链接 -->
	            <form method="post" action="index.php?c=personal&m=doChangePwd" enctype= 'multipart/form-data'>

	            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
	          

	              
	              <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
	                <td align="right" valign="middle" class="borderright borderbottom bggray">原密码:</td>
	                <td align="left" valign="middle" class="borderright borderbottom main-for">
	                <input type="password" name="oldpwd" value="" class="text-word" minlength='6'  maxlength='16' placeholder='原密码' required>
	                </td>
	         	</tr>

	         	  <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
	                <td align="right" valign="middle" class="borderright borderbottom bggray">新密码:</td>
	                <td align="left" valign="middle" class="borderright borderbottom main-for">
	                <input type="password" name="pwd" value="" class="text-word" minlength='6'  maxlength='16'  placeholder="新密码（6-16位）"  required>
	                </td>
	         	</tr>

	         	  <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
	                <td align="right" valign="middle" class="borderright borderbottom bggray">确认密码:</td>
	                <td align="left" valign="middle" class="borderright borderbottom main-for">
	                <input type="password" name="repwd" value="" class="text-word" minlength='6'  maxlength='16' placeholder='确认密码' required>
	                </td>
	         	</tr>
	            
	              <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
	                <td align="right" valign="middle" class="borderright borderbottom bggray">&nbsp;</td>
	                <td align="left" valign="middle" class="borderright borderbottom main-for">
	                <input name="" type="submit" value="提交" class="text-but">
	                <input name="" type="reset" value="重置" class="text-but"></td>
	               </tr>
	            </table>
	            </form>
	            </td>
	            </tr>
	       
	       </table>



	     </div>
       
	</div>
<?php $this->footer() ?>
	
