
		<div class='content_left '>
			<div class='content_left_header '>
				<!-- <span>&#xe643;</span> -->
				<img src="<?= empty($data['icon'])? '../Public/default.gif'  : imgUrl($data['icon'])  ;  ?>" width='' height='100' alt="" style='border-radius:100%'>
				<p><?= empty($data['nickname'])? $data['tel']:$data['nickname']  ?></p>
			</div>
			<div class='user_center_nav'>
				<ul class='user_center_nav_ul iconfont' >
					<a href="index.php?c=personal&m=personalData" ><li><span>&#xe615; 个人资料 </span></li></a>
					<a href="index.php?c=personal&m=changePwd" ><li><span>&#xe63e; 修改密码</span></li></a>
					<a href="index.php?c=personal&m=allOrder" ><li><span>&#xe643; 全部订单</span></li></a>
					<a href="index.php?c=personal&m=waitPay" ><li><span>&#xe63c; 待付款</span></li></a>
					<a href="index.php?c=personal&m=waitSend" ><li><span>&#xe617; 待发货</span></li></a>
					<a href="index.php?c=personal&m=waitRec" ><li><span>&#xe66a; 待收货</span></li></a>
					<a href="index.php?c=personal&m=haveDone" ><li><span>&#xe65f; 已完成</span></li></a>
					<a href="index.php?c=personal&m=evaluate"><li><span>&#xe65f; 评价管理</span></li></a>
					<a href=""><li><span>&#xe65f; 地址管理</span></li></a>
				</ul>
			</div>
		</div>
			
	
