<?php $this->header() ?>
	<div id = 'content'>
		<?php $this->comment() ?>
			
		<div class='content_right'>

				<div class ='all_order'>

		
			<?php  foreach($data as $k=>$v):?>
				<form action="index.php?c=personal&m=doEvaluate" method='post'>
								
					<div class = all_order_11>
							<div class ='all_order_nav'>
								<span class="all_order_nav_code">订单号:<?= $v['orderNum']?></span>
								<span class="all_order_nav_date"><?= date('Y-m-d H:i:s',$v['time'])?></span>
								<span class="all_order_nav_price">评价内容</span></nav>
							</div>
						<input type="hidden" name='odNum' value='<?= $v["orderNum"]?>'>
						<input type="hidden" name='gid' value='<?= $v["id"]?>'>

							<div class="all_order_list_left">
					            <dl>
					                <dt><img src="<?= imgUrl($v['icon'])?>"></dt>
					                <dd>
					                    <span class="all_order_list_product_name"><?= $v['name']?></span>
					               <?php if($v['state']==1):?>    
					                    <span class="all_order_list_product_price">
					                    	<!-- <input type="text" > -->
								
					                    	<textarea name="info" id="" cols="20" rows="5" style='margin-top:10px;' resize='none'></textarea>

					                    </span>
									<?php else: ?>
					                      <span class="all_order_list_product_price" >
					                    	<!-- <input type="text" > -->
								
					                    	<input name="info" id="" cols="20" rows="5" style='margin-top:10px;border:none ;outline:none ;color:#55A0FF' resize='none' value='<?= $v["info"]  ?>'  readonly>

					                    </span>
					                <?php endif ?>
					                  <!--   <span class="all_order_list_product_count"><?= $v['count']?></span> -->
					                </dd>
					            </dl>
					        </div>
					     <?php if($v['state']==1):?>    
					        <div class="all_order_list_right">
						        <div class="all_price"></div>

					        	<div class="order-_status" style='background:#3385FF ; color:white ;  '>
					        		<input type="submit" value='提交评价' style='background:#3385FF ; color:white;padding:5px 14px '> 
					        	</div>
					        </div>
						<?php else: ?>
							<div class="all_order_list_right">
					        <div class="all_price"></div>
					        <div class="order-_status" style='background:#ccc ; color:white ; padding:5px 14px '>已评价 </div>
				        </div>

						<?php endif ?>

				</form>
			<?php  endforeach ?>

					</div>
						
				</div>		
		</div>
		<!-- 分页失败 -->
<!--  
		<div class='content_right11' height='20px'>
				<div class ='all_order'>
							<div class ='all_order_nav'>
								<p class='all_order_nav_page'> <?= $page->show('personal')?> </p>
							</div>
				</div>		
		</div> -->
	</div>
<?php $this->footer() ?>
	
