<?php $this->header() ?>
<div id = 'content'>
    <?php $this->comment() ?>
    
      
    <div class='content_right'>
        <!-- <iframe src="view/personal/wel.html" NAME='rightContent' frameborder="0" noresize width='950px' HEIGHT='800PX' >
          
        </iframe> -->

        <!--main_top-->
    <table width="80%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
         <tr>
        <td width="99%" align="left" valign="top" font-size='20px' class='personal_data' >您的位置：个人中心&nbsp;&nbsp;>&nbsp;&nbsp;个人资料</td>
      </tr>
      <tr>
        <td align="left" valign="top" id="addinfo">
        <!-- <a href="index.php?c=user&m=index" target="mainFrame" onFocus="this.blur()" class="add">返回上一级</a> -->
        </td>
      </tr>
      <tr>

      <tr>
        <td align="left" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab" >
        
           <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">头像：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for">
               <img src="<?= empty($data['icon'])? '../Public/default.gif'  : imgUrl($data['icon'])  ;  ?>" height="68">
            </td>
           </tr>
         
          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">昵称：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for"><?= $data['nickname']?></td>
            </tr>
          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">电话：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for"><?= $data['tel']?></td>
          </tr>

       

          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">性别：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for" style="line-height:24px;"><?= $data['sex']==1? '男':女 ?></td>
          </tr>

          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">生日：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for" style="line-height:24px;"><?= $data['birthday']?></td>
          </tr>

          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">地址：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for" style="line-height:24px;"><?= $data['address']?></td>
          </tr>
     
          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">注册时间：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for"><?= date('Y-m-d H:i:s',$data['regtime'])?></td>
          </tr>


          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="right" valign="middle" class="borderright borderbottom bggray">操作：</td>
            <td align="left" valign="middle" class="borderright borderbottom main-for">
            
              <a href="index.php?c=personal&m=edit&id=<?= $data['id']?>"  onFocus="this.blur()" class="add">修改</a>
            </td>
          </tr>
        </table>
        </td>
        </tr>
    </table>
        <!-- <div class='user_order'>
          <ul class='user_order_nav'>
            <a href="allorder.html" target='content'><li>全部订单</li></a>
            <a href="wait.html" target='content'><li>代付款</li></a>
            <a href="./wait_send_out_goods.html" target='content'><li>代发货</li></a>
            <a href="./wait_take_over.html" target='content'><li>待收货</li></a>
            <a href="./have_done.html" target='content'><li>已完成</li></a>
          </ul>

        </div>
        <div class='user_order_main'>
          <iframe src="" frameborder="0" noresize width='921px'
          height='599px' name = 'content'></iframe>
        </div> -->

    </div>
</div>
<?php $this->footer() ?>
