
#successPay_main{
	width: 1146px;
	min-height: 430px;
	margin:0 auto;
	margin-top: 20px;
}
	.successPay_main_no_goods{
		margin-top:10px;
		width: 1146px;
		min-height: 430px;
		text-align:center;
		background: #fff;
	}
		.successPay_main_no_goods_car{
				padding-top:20px;
			font-size:120px !important;
			background: #FFF;
			padding-bottom:20px;
		}


		.successPay_main_no_goods_desc{
			padding-top:20px;
			padding-bottom:40px;

		}
		.successPay_main_no_goods_go{
			border:1px solid #55A0FF;
			padding:10px  35px;
			color:#55A0FF
		}
		.successPay_main_no_goods_go:hover{
			color:#fff;
			background: #55A0FF;
		}

		.successPay_main_headline{
			width: 1146px;
			height: 70px;
			margin-top: 20px;
			text-indent:20px;
			font: normal normal normal 18px/70px Rubik-Regular,PingFang SC,PingHei,PingFangHei,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,sans-serif;
			color: #333;
			background-color: #fff;
			box-shadow: 0 0 2px 8px hsla(0,0%,96%,.6);
		}
		