<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>酷派账号</title>
	<link rel="stylesheet" href="include/css/reg.css">
	<link rel="stylesheet" href="../mall/download/font_ntgm2q82rzfr/iconfont.css">
</head>
<body>
	<div id = 'reg_top'>
		<div class='reg_top_logo'></div>			
	</div>
	<div id = 'reg_main'>
			<div class='reg_main_header'>
				<div class= 'reg_main_header_title'><p>注册酷派账号</p></div>
			</div>
			<div class='reg_main_form'>
				<form action="index.php?c=reg&m=getReg" method='post'>
						<div class='reg_main_form_tel iconfont'> 
							<input type="text" name= 'tel' value='' placeholder="手机号"  maxlength = 11 required>
						</div>
						<div class='reg_main_form_randcode'>
							<input type="text" name='code' value='' placeholder="图片验证码" maxlength=4  required>
							<!-- 加载图片验证码 --> 
							<img src="index.php?c=reg&m=code" onClick="this.src=this.src+'&x='+Math.random()">

						</div>

						<!-- <div class='reg_main_form_msgcode'>
							<input type="text" name='reg_msgcode' value='' placeholder="短信验证码">
						</div> -->
						<div class='reg_main_form_setpwd'>
							<input type="password" name='pwd' value='' placeholder="密码（6-16位）" minlength=6 maxlength=16 required>
						</div>
						<div class='reg_main_form_setpwd_2'>
							<input type="password" name='repwd' value='' placeholder="确认密码" minlength=6 maxlength=16 required>
						</div>
						<div class='reg_main_form_reg'>
							<input type="submit" name= '' value = '立即注册'>
						</div>
				</form>
				<a href="index.php?c=login" class='reged'>已有账号，登录</a>
				
				<p class='reg_tip'>点击"立即注册"，即表示你同意并愿意遵守酷派账号<a href="">用户协议</a>和 <a href="">隐私政策</a></p>
			</div>
			
	</div>
	<div id ='reg_bottom'>
		<p>Copyright © 2015 版权所有 宇龙计算机通信科技(深圳)有限公司 粤ICP备10028763号-1 </p>
	</div>
	
</body>
</html>