<?php $this->header();?>

	<div id='order_main'>
		<form action="index.php?c=order&m=submitOrder" method ='post'>
			<div class='order_main_delivery_address'>收货地址</div>
				<div class='order_main_delivery_address_information'>
					<div class='order_main_form_information'>
						姓名：<input type="text" class='receiver_name' placeholder=' 收件人姓名' name = 'receiver' minlength=2  maxlength=15 required><br>
						电话：<input type="text" class='receiver_tel' placeholder = '收件人电话' maxlength=11  name = 'phone' required><br>
						地址：<input type="text" class='receiver_address' placeholder='至少含两位中文' name ='address' minlength =3 required><br>
						<!-- <input type="submit"  value ='保存' class="save_information" > -->
					</div>
				</div>
			<div class='order_main_delivery_goods'>商品</div>
				<div CLASS = 'order_main_deliver_goods_nav'>
					<span class='order_main_deliver_goods_nav_title'>商品名称</span>
					<span class='order_main_deliver_goods_nav_unit_price'>单价</span>
					<span class='order_main_deliver_goods_nav_title_num'>数量</span>
					<span class='order_main_deliver_goods_nav_title_total'>小计</span>
			</div>
			
		

				<?php foreach($_SESSION['order'] as $k=>$v): ?>
				<div class = 'order_main_deliver_goods_information'>
					<div class = 'order_main_deliver_goods_information_picture'>
						<img width='90px' height="90px" src="<?= imgUrl($v['icon'])?>" alt="" >
					</div>
					<div  class = 'order_main_deliver_goods_information_title'>
						<input type="text" value='<?= $v["name"]?>' readonly>
					</div>
					<div class = 'order_main_deliver_goods_information_unit_price'>
						<input type="text" value='￥<?= $v["price"]?>' readonly>
					</div>
					<div class = 'order_main_deliver_goods_information_num'>
						<input type="text" value='<?= $v["count"]?>' readonly>
					</div>

					<?php 
						//  小计   数量 x 单价
						 $sum = $v['count']*$v['price'];
					?>
					<div class = 'order_main_deliver_goods_information_total'>
						<input type="text" value='￥<?= $sum?>' readonly>
					</div>
				</div>
						<?php 
							//  总数 
							$num += $v['count'];
							//总价
							$total += $sum
						
						?>
				<?php endforeach ?>

				<div CLASS = 'order_main_goods_information_foot'>
					<div class=order_main_goods_information_foot_dicount>
						<span class='order_main_goods_information_foot_dicount_add'>+</span>
						<span class='order_main_goods_information_foot_dicount_use'>使用优惠券/优惠码</span>
					</div>
					<div class ='order_main_goods_information_foot_list'>
						<ul class='order_main_goods_information_foot_list_content'>
							<li>
								<input type="text" value='<?= $num ?>' readonly >	
							</li>
							<li>
								<input type="text" value='￥<?= $total ?>' readonly >	
							</li>
							<li>
								<input type="text" value='￥0.00' readonly >	
							</li>
							<li>
								<input type="text" value='￥0.00' readonly >	
							</li>
							<li>
								<input type="text" value='￥0.00' readonly >	
							</li>

							<?php if( $total < 100):?>
								<li>
									￥<input type="text" value='10.00' readonly name = 'fare'>	
									<?php  $fare= 10 ?>
								</li>
							<?php else: ?>
								<li>
									￥<input type="text" value='0.00' readonly   name = 'fare' >
									<?php  $fare= 0 ?> 
								</li>
							<?php endif ?>
						</ul>
						<ul class='order_main_goods_information_foot_list_title'>
							<li>商品件数:</li>
							<li>商品总计:</li>
							<li>活动优惠:</li>
							<li>优惠抵扣:</li>
							<li>酷比抵扣:</li>
							<li>运费:</li>
						</ul>
					<?php  $lastTotal = $total + $fare ?>
					</div>
					 <div class='order_main_goods_information_foot_submit'>
					 	<input type='submit' value='提交订单' class='order_main_goods_information_foot_submit_button'>

					 	<span class='order_main_goods_information_foot_submit_total'>
					 		￥<input type="text" value='<?= $lastTotal?>' name='lastTotal' readonly>	
					 	</span>

					 	<span class='order_main_goods_information_foot_submit_title'>应付总额:</span>
					 </div>
				</div>
		</form>
	</div>

<?php $this->footer(); ?>
