<?php $this->header();?>

		<div id = 'successPay_main'>
				
					<div class ='successPay_main_no_goods' >
						<p class='successPay_main_no_goods_desc' style="color:#579DFF;padding-bottom:0;font-size:20px;">订单: <?= $_SESSION['subOrder']['orderNum'] ?> 支付成功</p>
						<div class ='successPay_main_no_goods_car ' style= 'padding-top:20px'>
							<img src="include/image/smile.jpg" alt="">
						</div>
						<a href="index.php" class='successPay_main_no_goods_go' >再次购物</a>
					</div> 
		</div>	
<?php $this->footer(); ?>
